    <!--====== FOOTER PART START ======-->
    {% load static %}
    <footer class="footer-area">
        <div class="container">
            <div class="footer-topbar">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-5">
                        <div class="footer-logo">
                            <a href="/blog/"><img src="{% static 'assets/images/logo-2.png' %}" alt=""></a>
                            <ul>
                                <li><a href="/blog/"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="/blog/"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="/blog/"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="/blog/"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-7">
                        <div class="footer-newaletter">
                            <div class="input-box">
                                <input type="text" placeholder="Your email address">
                                <button type="button">SIGN UP</button>
                            </div>
                            <p>We hate spam as much as you do</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-widget-area">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="footer-widget-right-border">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="widget widget-list">
                                        <div class="section-title section-title-2">
                                            <h3 class="title">News categories</h3>
                                        </div>
                                        <div class="list d-flex justify-content-between">
                                            <ul>
                                                <li><a href="/blog/">Politics</a></li>
                                                <li><a href="/blog/">Business</a></li>
                                                <li><a href="/blog/">Technology</a></li>
                                                <li><a href="/blog/">Science</a></li>
                                                <li><a href="/blog/">Health</a></li>
                                                <li><a href="/blog/">Sports</a></li>
                                                <li><a href="/blog/">Entertainment</a></li>
                                            </ul>
                                            <ul>
                                                <li><a href="/blog/">Education</a></li>
                                                <li><a href="/blog/">Obituaries</a></li>
                                                <li><a href="/blog/">Corrections</a></li>
                                                <li><a href="/blog/">Education</a></li>
                                                <li><a href="/blog/">Today’s Paper</a></li>
                                                <li><a href="/blog/">Corrections</a></li>
                                                <li><a href="/blog/">Foods</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="widget widget-list widget-list-2">
                                        <div class="section-title section-title-2">
                                            <h3 class="title">Living</h3>
                                        </div>
                                        <div class="list d-flex justify-content-between">
                                            <ul>
                                                <li><a href="/blog/">Crossword</a></li>
                                                <li><a href="/blog/">Food</a></li>
                                                <li><a href="/blog/">Automobiles</a></li>
                                                <li><a href="/blog/">Education</a></li>
                                                <li><a href="/blog/">Health</a></li>
                                                <li><a href="/blog/">Magazine</a></li>
                                                <li><a href="/blog/">Weddings</a></li>
                                            </ul>
                                            <ul>
                                                <li><a href="/blog/">Classifieds</a></li>
                                                <li><a href="/blog/">Photographies</a></li>
                                                <li><a href="/blog/">NYT Store</a></li>
                                                <li><a href="/blog/">Journalisms</a></li>
                                                <li><a href="/blog/">Public Editor</a></li>
                                                <li><a href="/blog/">Tools & Services</a></li>
                                                <li><a href="/blog/">My Account</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="footer-twitter-post">
                                <div class="row">
                                    <div class="col-lg-5 col-md-5">
                                        <div class="widget widget-list">
                                            <div class="section-title section-title-2">
                                                <h3 class="title">Opinion</h3>
                                            </div>
                                            <div class="list">
                                                <ul>
                                                    <li><a href="/blog/">Today’s Opinion</a></li>
                                                    <li><a href="/blog/">Op-Ed Contributing</a></li>
                                                    <li><a href="/blog/">Contributing Writers</a></li>
                                                    <li><a href="/blog/">Business News</a></li>
                                                    <li><a href="/blog/">Collections</a></li>
                                                    <li><a href="/blog/">Today’s Paper</a></li>
                                                    <li><a href="/blog/">Saturday Review</a></li>
                                                    <li><a href="/blog/">Product Review</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-7">
                                        <div class="widget widget-twitter-post">
                                            <div class="twitter-post">
                                                <div class="icon">
                                                    <i class="fab fa-twitter"></i>
                                                </div>
                                                <div class="twitter-content">
                                                    <p>Cyber Monday Sale, Save 33% on Jannah theme during our year-end
                                                        Sale, Purchase a new license for your next project… <a
                                                            href="/blog/">@newspark /blog/technology
                                                            https://dribbble.com/subash_chandra</a></p>
                                                    <span>March 26, 2020</span>
                                                </div>
                                            </div>
                                            <div class="twitter-post">
                                                <div class="icon">
                                                    <i class="fab fa-twitter"></i>
                                                </div>
                                                <div class="twitter-content">
                                                    <p>Cyber Monday Sale, Save 33% on Jannah theme during our year-end
                                                        Sale, Purchase a new license for your next project… <a
                                                            href="/blog/">@newspark /blog/technology
                                                            https://dribbble.com/subash_chandra</a></p>
                                                    <span>March 26, 2020</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="footer-rightbar mt-60">
                            <div class="row">
                                <div class="col-lg-12 col-md-6">
                                    <div class="widget widget-news">
                                        <div class="section-title section-title-2">
                                            <h3 class="title">News categories</h3>
                                        </div>
                                        <div class="footer-news">
                                            <div class="gallery_item gallery_item-style-2 footer_gallery_item">
                                                <div class="gallery_item_content">
                                                    <div class="post-meta">
                                                        <div class="meta-categories">
                                                            <a href="/blog/" tabindex="0">TECHNOLOGY</a>
                                                        </div>
                                                        <div class="meta-date">
                                                            <span>March 26, 2020</span>
                                                        </div>
                                                    </div>
                                                    <h4 class="title"><a href="/blog/" tabindex="0">Nancy zhang a chinese
                                                            busy woman and dhaka</a></h4>
                                                    <span>1</span>
                                                </div>
                                            </div>
                                            <div class="gallery_item gallery_item-style-2 footer_gallery_item">
                                                <div class="gallery_item_content">
                                                    <div class="post-meta">
                                                        <div class="meta-categories">
                                                            <a href="/blog/" tabindex="0">TECHNOLOGY</a>
                                                        </div>
                                                        <div class="meta-date">
                                                            <span>March 26, 2020</span>
                                                        </div>
                                                    </div>
                                                    <h4 class="title"><a href="/blog/" tabindex="0">Success is not a good
                                                            teacher failure makes you humble</a></h4>
                                                    <span>2</span>
                                                </div>
                                            </div>
                                            <div class="gallery_item gallery_item-style-2 footer_gallery_item">
                                                <div class="gallery_item_content">
                                                    <div class="post-meta">
                                                        <div class="meta-categories">
                                                            <a href="/blog/" tabindex="0">TECHNOLOGY</a>
                                                        </div>
                                                        <div class="meta-date">
                                                            <span>March 26, 2020</span>
                                                        </div>
                                                    </div>
                                                    <h4 class="title"><a href="/blog/" tabindex="0">Cheap smartphone sensor
                                                            could help you old food safe</a></h4>
                                                    <span>3</span>
                                                </div>
                                            </div>
                                            <div class="gallery_item gallery_item-style-2 footer_gallery_item">
                                                <div class="gallery_item_content">
                                                    <div class="post-meta">
                                                        <div class="meta-categories">
                                                            <a href="/blog/" tabindex="0">TECHNOLOGY</a>
                                                        </div>
                                                        <div class="meta-date">
                                                            <span>March 26, 2020</span>
                                                        </div>
                                                    </div>
                                                    <h4 class="title"><a href="/blog/" tabindex="0">Class property employ
                                                            ancho red multi humble</a></h4>
                                                    <span>4</span>
                                                </div>
                                            </div>
                                            <div class="gallery_item gallery_item-style-2 footer_gallery_item">
                                                <div class="gallery_item_content">
                                                    <div class="post-meta">
                                                        <div class="meta-categories">
                                                            <a href="/blog/" tabindex="0">TECHNOLOGY</a>
                                                        </div>
                                                        <div class="meta-date">
                                                            <span>March 26, 2020</span>
                                                        </div>
                                                    </div>
                                                    <h4 class="title"><a href="/blog/" tabindex="0">Best garden wing supplies
                                                            for the horticu ltural</a></h4>
                                                    <span>5</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <div class="widget wedget-service">
                                        <div class="section-title section-title-2">
                                            <h3 class="title">Cyberinstant news services</h3>
                                        </div>
                                        <div class="service-item">
                                            <ul>
                                                <li><a href="/blog/"><i class="fal fa-mobile-android-alt"></i> On your
                                                        mobile</a></li>
                                                <li><a href="/blog/"><i class="fal fa-microphone-alt"></i> On smart
                                                        speakers</a></li>
                                                <li><a href="/blog/"><i class="fal fa-envelope"></i> Contact Cyberinstant
                                                        </a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright-item d-block d-md-flex justify-content-between align-items-center">
                        <p>© Copyright 2020, All Rights Reserved</p>
                        <ul>
                            <li><a href="/blog/">About</a></li>
                            <li><a href="/blog/">Advertise</a></li>
                            <li><a href="/blog/">Privacy & Policy</a></li>
                            <li><a href="/blog/">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== FOOTER PART ENDS ======-->
