<!--====== HEADER PART START ======-->
{% load static %}
<header class="header-area">
    <div class="header-topbar">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8">
                    <div class="topbar-trending">
                        <span>Trending</span>
                        <div class="trending-slider">
                            <div class="trending-item">
                                <p>Top 10 Best Movies of 2018 So Far: Great Movies To Watch Now </p>
                            </div>
                            <div class="trending-item">
                                <p>Top 10 Best Movies of 2018 So Far: Great Movies To Watch Now </p>
                            </div>
                            <div class="trending-item">
                                <p>Top 10 Best Movies of 2018 So Far: Great Movies To Watch Now </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="topbar-social d-flex align-items-center">
                        <p>Thursday, March 26, 2020</p>
                        <div class="social">
                            <ul>
                                <li><a href="/blog/"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="/blog/"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="/blog/"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="/blog/"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-centerbar">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4">
                    <div class="logo">
                        <a href="/">
                          <!-- <span style="font-size:30px;color:#4fb1db;">Devvani</span> -->
                            <img src="{% static 'assets/images/logo.png' %}" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header-centerbar-ad">
                        <a href="/blog/"><img src="{% static 'assets/images/ad/ad-1.png' %}" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-menubar">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 col-sm-3 col-3">
                    <div class="header-menu">
                        <div class="stellarnav">
                            <ul>
                                <li><a class="active" href="">Home</a>
                                    <ul>
                                        <li><a href="/">Home 1</a></li>
                                    </ul>
                                </li>
                                <li><a href="">Pages</a>
                                    <ul>
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="#">Archive</a></li>
                                        <li><a href="#">Contact</a></li>
                                        <li><a href="#">404</a></li>
                                    </ul>
                                </li>
                                <li><a href="">Posts</a>

                                    <ul>
                                        <li class="has-sub"><a href="/blog/">General Posts</a>
                                            <ul>
                                                <li><a href="#">Post 1</a>
                                                </li>
                                                <li><a href="#">Post 2</a>
                                                </li>
                                                <li><a href="post-3.html">Post 3</a>
                                                </li>
                                            </ul>
                                            <a class="dd-toggle" href="/blog/"><span class="icon-plus"></span></a>
                                        </li>
                                        <li class="has-sub"><a href="/blog/">Video Posts</a>
                                            <ul>
                                                <li><a href="/blog/">Video Style 1</a>
                                                </li>
                                                <li><a href="/blog/">Video Style 2</a>
                                                </li>
                                                <li><a href="/blog/">Video Style 3</a>
                                                </li>
                                            </ul>
                                            <a class="dd-toggle" href="/blog/"><span class="icon-plus"></span></a>
                                        </li>
                                        <li class="has-sub"><a href="/blog/">Audio Posts</a>
                                            <ul>
                                                <li><a href="/blog/">Audio Style 1</a>
                                                </li>
                                                <li><a href="/blog/">Audio Style 2</a>
                                                </li>
                                                <li><a href="/blog/">Audio Style 3</a>
                                                </li>
                                            </ul>
                                            <a class="dd-toggle" href="/blog/"><span class="icon-plus"></span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="">Categories </a>
                                    <ul>
                                        <li class="active"><a href="#">Business</a>
                                        </li>
                                        <li><a href="#">Entertainment</a>
                                        </li>
                                        <li><a href="#">Features</a>
                                        </li>
                                        <li><a href="#">Sports</a>
                                        </li>
                                        <li><a href="#">Trending</a>
                                        </li>
                                        <li><a href="#">Technology</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="">World</a></li>
                                <li><a href="">Sports</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div><!-- .stellarnav -->
                    </div>
                </div>
                <div class="col-lg-4 col-sm-9 col-9">
                    <div class="header-menu-rightbar">
                        <div class="header-menu-search">
                            <ul>
                                <li><a href="/blog/"><i class="fal fa-search"></i></a></li>
                                <li><a href="/blog/"><i class="fal fa-user-circle"></i></a></li>
                            </ul>
                        </div>
                        <div class="nice-select-item">
                            <select>
                                <option data-display="English">English</option>
                                <option value="1">Bangla</option>
                                <option value="2">Hindi</option>
                                <option value="3">option</option>
                                <option value="4">Potato</option>
                            </select>
                        </div>
                        <div class="header-temperature">
                            <div class="icon">
                                <img src="{% static 'assets/images/temperature-icon.svg' %}" alt="">
                            </div>
                            <div class="temperature-content text-center">
                                <h5 class="title">13 <sup>0<sub>C</sub></sup></h5>
                                <p>San Francisco</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</header>

<!--====== HEADER PART ENDS ======-->